<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <title>Práctica 2</title>
  <base href="/">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="container">
    <div id="searchBar">
      <input id="searchtxt" type="text" name="search" placeholder="Search animals..">        
      <button id="searchButton" onclick="search_News()" type="submit">Search</button>
    </div>
    
    <div id="news-container" class="grid">
      {{#each news}}
        <div class="news-item col-2">
          <img class="photo" src="{{urlToImage}}" />
          <h2>{{title}}</h2>
          <p>{{description}}</p>
          <a href="{{url}}" target="_blank">Ver más</a>
        </div>
      {{/each}}
    </div>
  </div>
  <script>
    function search_News(){
      let input=document.getElementById('searchtxt').value
      window.location="/?search="+input
    }
  </script>
</body>
</html>